.destaque{
    display: flex;
    background-color: #f0f6ff;
    padding: 5%;
    border-radius: 5px;
}

hr{
    size: 2px;
}

.selected-plan, .final-duration{
    color:  #02295a;
    font-weight: 700;
}

.destaque .amount{
    color:  #02295a;
    font-weight: 700;
    padding-left: 170px;
}

.container_rodmap{
    margin-left: -9%;
}


@media (max-width: 768px) {

    .destaque .amount{
        padding-left: 153px;
    }

    .div_sem_botao{
        top: -47px;
    }
}
