.destaque{
    display: flex;
    background-color: #f0f6ff;
    padding: 5%;
    border-radius: 5px;
}

hr{
    size: 2px;
}

.selected-plan, .final-duration{
    color:  #02295a;
    font-weight: 700;
}

.destaque .amount{
    color:  #02295a;
    font-weight: 700;
    padding-left: 170px;
}

.button_next_step{
    position: relative;
    left: 4%;
    bottom: -50px;
}


.container_roadmap{
    margin-left: -11%;
}


@media (max-width: 768px) {

    .destaque .amount{
        padding-left: 153px;
    }

    .div_sem_botao{
        top: -47px;
    }
}
